.header {
    background: none;
}


/*
=================================================
Store
=================================================
*/

.store {
    text-align: center;
    padding: 0rem 0;
}

.store__items {
    margin-bottom: 3rem;
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.store__item {
    position: relative;
    background-color: var(--whait);
    border-radius: 2rem;
    padding: 0rem 1.5rem 2.5rem 1.5rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 27rem;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.item__purchase {
    font-size: 2rem;
}

.item__price {
    bottom: auto;
    left: 0;
    right: 0;
}

.button {
    width: 100%;
    max-width: unset;
}
