.header {
    background: none;
}


/*
=================================================
Store
=================================================
*/

.store {
    text-align: center;
    padding: 0rem 0;
}

.store__title {
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.store__items {
    margin-bottom: 3rem;
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.store__item {
    background-color: var(--whait);
    border-radius: 2rem;
    padding: 0rem 1rem 4rem 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 27rem;
    flex-grow: 1;
    overflow: hidden;
}

.item__banner {
    position: relative;
    transition: all 100ms;
}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.item__icon {
    background-color: var(--whait);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.item__icon-like {}

.item__icon-like--fill {
    fill: var(--buttoncolor);
    stroke: var(--whait);
}

.item__price {
    position: absolute;
    background-color: var(--whait);
    color: var(--buttoncolor);
    bottom: -1rem;
    left: 0;
    right: 0;
    width: 15rem;
    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    display: none;
}

.item__price-text {}

.item__title {
    font-size: 2rem;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    color: var(--fontcolor);
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item__caption {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    color: var(--fontcolor);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
    padding: 0 1rem;
}

.item__link {
    background-color: var(--bgcolor);
    border-color: var(--bgcolor);
    margin-top: auto;
}

.item__link:hover {
    color: var(--fontcolor);
    border-color: var(--buttoncolor);
    background-color: var(--buttoncolor);
}

.store__button {
    background-color: transparent;
    border-color: var(--buttoncolor);
    color: var(--buttoncolor);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.store__button:hover {
    background-color: var(--buttoncolor);
    color: var(--black);
    border-color: var(--buttoncolor);
}

.ih-item.square {
    box-shadow: none;
    height: 100%;
}

.ih-item.square.effect10 {
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    width: 100%;
}

.ih-item.square.effect10 .info h3 {
    margin: 1rem 0 0 0;
}

.ih-item.square.effect10 .info p {
    padding: 1rem 0 0 0;
    color: var(--whait);
    margin-top: auto;
    margin-bottom: auto;
}