:root {
    --bgcolor: #F2F2F2;
    --fontcolor: #333333;
    --linkcolor: #0077CC;
    --buttoncolor: #FF9900;
    --headercolor: #87CEFA;
    --maincolor: #FFFFFF;
    --footercolor: #0D0106;
    --whait: #fff;
    --black: #000;
    --navColor: #673AB8;
    --primaryFont: 'IRANSansX', sans-serif, Arial, Helvetica;
    --a: #EFEFEF;
    --b: #0071BC;
    --c: #F5A623;
    --copyRight-Color: #5d5b5b;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primaryFont);
    background-color: var(--bgcolor);
}

/*
============================================
Components
============================================
*/

a {
    text-decoration: none;
}

.button {
    border: 1.8px solid;
    padding: 1rem 4rem;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    color: var(--black);
    margin-top: 3rem;
    max-width: 19rem;
    font-weight: 600;
    transition: all 110ms;
}

/*
============================================
Navbar Position and Color
============================================
*/

.header {
    width: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../Images/Header/digital_marketing_Store-min.jpg");
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 5.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/*
============================================
Navbar: Desktop Menu Items and Logo
============================================
*/

.nav__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.menu {
    margin-right: 6rem;
    display: none;
}

.menu__item {
    margin: 0 1.25rem;
}

.menu__item__link {
    color: var(--whait);
    transition: color 100ms ease-in;
}

.menu__item__link:hover {
    color: var(--buttoncolor);
}

.menu__item__link--active {
    position: relative;
    z-index: 0;
}

.menu__item__link--active::before {
    content: ' ';
    position: absolute;
    right: -0.58rem;
    left: 0;
    top: 9px;
    width: 4rem;
    height: 0.3rem;
    border-radius: 10rem;
    background-color: var(--navColor);
    transform: rotate(-45deg);
    z-index: 1;
    margin: 0 auto;
}

/*
=============================================================
Navbar: Mobile Menu Items and Buttons (Sign in/Out , Basket)
=============================================================
*/

.nav-mobile {
    position: fixed;
    background-color: var(--navColor);
    top: 0;
    right: -25rem;
    bottom: 0;
    width: 25rem;
    padding: 2.2rem;
    transition: all 250ms ease-in-out;
    z-index: 2;
}

.nav-mobile--open {
    right: 0rem;
    z-index: 2;
}

.mobile-menu {
    margin-bottom: 2rem;
}

.mobile-menu__title {
    color: var(--whait);
    font-size: 3rem;
    border-bottom: 2px solid var(--whait);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.mobile-menu__item {
    margin-bottom: 1rem;
}

.mobile-menu__link {
    color: var(--whait);
    position: relative;
    transition: all 130ms;
}

.mobile-menu__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--buttoncolor);
}

.mobile-menu__link:hover {
    padding-right: 2.2rem;
}

.mobile-menu__link:hover::before {
    width: 1.6rem;
}

.mobile-menu__buttons {
    display: flex;
}

.mobile-menu__button {
    color: var(--whait);
    border: 1.8px solid var(--whait);
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    margin-left: 0.17rem;
    border-radius: 0.5rem;
}

.mobile-menu__button:hover {
    color: var(--black);
    border-color: var(--buttoncolor);
    background-color: var(--buttoncolor);
}

/*
===============================================
Navbar: Desktop Buttons (Sign in/Out , Basket)
===============================================
*/

.header__links {
    display: none;
}

.header__link {
    margin-right: 2.5rem;
    color: var(--whait);
}

.header__link:hover {
    color: var(--buttoncolor);
    border-color: var(--buttoncolor);
}

.header__link--border {
    border: 1.8px solid var(--navColor);
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    transition: all 110ms;
}

.header__link--border:hover {
    background-color: var(--buttoncolor);
    color: var(--black);
}

.nav-button-color {
    background-color: var(--navColor);
}

/*
=================================================
Navbar: Mobile Menu Button Design and  Animation
=================================================
*/

.nav__button {
    background-color: var(--whait);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__button-line {
    display: block;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--navColor);
    border-radius: 5rem;
    position: relative;
    transition: all 150ms ease-in-out;
}

.nav__button-line::before,
.nav__button-line::after {
    content: ' ';
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--navColor);
    border-radius: 5rem;
    transition: all 200ms ease-in-out;
}

.nav__button-line::before {
    top: -0.8rem;
}

.nav__button-line::after {
    top: 0.8rem;
}

.nav__button--open .nav__button-line {
    background-color: transparent;
}

.nav__button--open .nav__button-line::before {
    transform: translateY(8px) rotate(45deg);
}

.nav__button--open .nav__button-line::after {
    transform: translateY(-8px) rotate(-45deg);
}

/*
=================================================
Header Content
=================================================
*/

.header-content {
    text-align: center;
    padding-top: 15rem;
    margin-top: 0 !important;
}

.header-content__title {
    color: var(--whait);
    font-size: 7rem;
}

.header-content__caption {
    color: var(--whait);
    margin-top: 4rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.header-content__link {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--buttoncolor);
    border-color: var(--buttoncolor);
}

.header-content__link:hover {
    font-weight: 900;
}

/*
=================================================
Main
=================================================
*/

.main {
    padding: 4rem 0;
}

/*
=================================================
Services
=================================================
*/

.services {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.services__item {
    background-color: var(--whait);
    height: 26rem;
    width: 27rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    padding: 0 4rem;
    flex-grow: 1;
}

.services__item__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services__item__title {
    margin: 1.5rem 0 0.6rem 0;
    font-size: 2.2rem;
    color: var(--fontcolor);
}

.services__item__caption {
    color: var(--fontcolor);
}

/*
=================================================
Store
=================================================
*/

.store {
    text-align: center;
    padding: 4rem 0;
}

.store__title {
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.store__items {
    margin-bottom: 3rem;
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.store__item {
    background-color: var(--whait);
    border-radius: 2rem;
    padding: 0rem 1rem 4rem 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 28rem;
    /* flex-grow: 1; */
    overflow: hidden;
}

.item__banner {
    position: relative;
    transition: all 100ms;
}

.item__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.item__icon {
    background-color: var(--whait);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.item__icon-like {}

.item__icon-like--fill {
    fill: var(--buttoncolor);
    stroke: var(--whait);
}

.item__price {
    position: absolute;
    background-color: var(--whait);
    color: var(--buttoncolor);
    bottom: -1rem;
    left: 0;
    right: 0;
    width: 15rem;
    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    display: none;
}

.item__price-text {}

.item__title {
    font-size: 2rem;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    color: var(--fontcolor);
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item__caption {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    color: var(--fontcolor);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
    padding: 0 1rem;
}

.item__link {
    background-color: var(--bgcolor);
    border-color: var(--bgcolor);
    margin-top: auto;
}

.item__link:hover {
    color: var(--fontcolor);
    border-color: var(--buttoncolor);
    background-color: var(--buttoncolor);
}

.store__button {
    background-color: transparent;
    border-color: var(--buttoncolor);
    color: var(--buttoncolor);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.store__button:hover {
    background-color: var(--buttoncolor);
    color: var(--black);
    border-color: var(--buttoncolor);
}

.ih-item.square {
    box-shadow: none;
    height: 100%;
}

.ih-item.square.effect10 {
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    width: 100%;
}

.ih-item.square.effect10 .info h3 {
    margin: 1rem 0 0 0;
}

.ih-item.square.effect10 .info p {
    padding: 1rem 0 0 0;
    color: var(--whait);
    margin-top: auto;
    margin-bottom: auto;
}

/*
=================================================
Footer
=================================================
*/

.footer {
    background-color: var(--footercolor);
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    color: var(--whait);
    padding: 0 0 2.5rem 0;
}

.footer__wrapper {
    display: block;
    justify-content: space-between;
}

.footer__title {
    color: var(--whait);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer__copy-right {
    text-align: center;
    margin-top: 2rem;
    color: var(--copyRight-Color);
    font-size: 1.5rem;
}

.footer__scroll {
    width: 5rem;
    height: 5rem;
    display: none;
    position: absolute;
    top: -2.5rem;
    background-color: var(--whait);
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}

.footer>.container {
    padding-top: 5rem;
    position: relative;
}

/*
=================================================
Footer Left
=================================================
*/

.footer__left {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {}

.footer__description {
    margin-bottom: 2rem;
    text-align: justify;
    color: var(--whait);
}

.footer-social-media {}

.footer-social-media__link {}

.footer-social-media__img {}

/*
=================================================
Footer Right
=================================================
*/

.footer__right {
    display: flex;
}

.footer-list {
    width: 15rem;

}

.footer-pages {}

.footer-pages__item {}

.footer-pages__link {
    color: var(--whait)
}

.footer-pages__link:hover {
    text-decoration: underline;
}