:root {
    --bgcolor: #F2F2F2;
    --fontcolor: #333333;
    --linkcolor: #0077CC;
    --buttoncolor: #FF9900;
    --headercolor: #87CEFA;
    --maincolor: #FFFFFF;
    --footercolor: #0D0106;
    --whait: #fff;
    --black: #000;
    --navColor: #673AB8;
    --primaryFont: 'IRANSansX', sans-serif, Arial, Helvetica;
    --a: #EFEFEF;
    --b: #0071BC;
    --c: #F5A623;
    --copyRight-Color: #5d5b5b;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primaryFont);
    background-color: var(--bgcolor);
}

/*
============================================
Components
============================================
*/

a {
    text-decoration: none;
}

/*
============================================
Header
============================================
*/

.header {
    background: none;
}

.product-main {}

.product-wrapper {
    display: flex;
    background-color: var(--whait);
    align-items: flex-start;
    padding: 0 5rem;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 7rem;
    padding-top: 4rem;
}

.product-right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
}

.product__img {
    width: 100%;
}

.product-left {
    flex-grow: 1;
    margin: auto 0 auto 0;
    width: 100%;
}

.product__title {
    margin-bottom: 2rem;
    font-size: 2.3rem;
    text-align: center;
}

.product__abstract-informations {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.product__attrebute {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.product__attrebute-title {
    margin-left: 1rem;
}

.hdd {
    margin-left: 1.5rem;
}

.product__abstract-text {
    margin-right: 1rem;
}

hr {
    margin: 2rem 0;
}

.product__guarantee {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.product__guarantee-title {
    margin-left: 1rem;
    font-size: 2rem;
    color: green
}

.product__price {
    display: flex;
    margin-top: 2rem;
    font-size: 2.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.product__price-title {
    margin-left: 1rem;
}

.product__basket-button {
    border-radius: 1.5rem;
    text-align: center;
    margin-top: 1.3rem;
    background-color: darkgreen;
    border-color: darkgreen;
    display: flex;
    font-weight: 600;
    height: 5rem;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: all 110;
}

.product__basket-button:hover {
    background-color: var(--buttoncolor);
    border-color: var(--buttoncolor);
}

.product__basket-link {
    color: var(--whait);
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.product__basket-link:hover {
    color: var(--black);
}