.container {
    width: 100%;
    padding-right: 5.5rem;
    padding-left: 5.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 280px) {
    .header {
        padding-bottom: 6.5rem;
    }

    .header-content__link {
        font-size: 1.3rem;
    }

    .nav-mobile {
        max-width: 58%;
    }

    .mobile-menu__button {
        font-size: 1.3rem;
    }

    .header-content__link {
        width: 17rem;
    }

    .mobile-menu__title {
        font-size: 2.3rem;
    }

    .services__item {
        margin-left: auto;
        margin-right: auto;
    }

    .store__item {
        margin-left: 0;
        margin-right: 0;
    }

    .product__title {
        font-size: 1.9rem;
    }

    .product__abstract-informations {
        font-size: 1.6rem;
    }
    
    .product__attrebute {
        font-size: 1.5rem;
    }

    .product__price {
        font-size: 2rem;
    }
}

@media (min-width: 360px) {
    .header {
        padding-bottom: 6.5rem;
    }

    .nav-mobile {
        max-width: 67%;
    }

    .mobile-menu__link {
        font-size: 1.5rem;
    }

    .mobile-menu__button {
        font-size: 1.5rem;
    }

    .item__link {
        font-size: 1.4rem;
    }
}

@media (min-width: 361px) {
    .mobile-menu__link {
        font-size: 100%;
    }

    .mobile-menu__button {
        font-size: 100%;
    }

    /* .header {
        padding-bottom: 8rem;
    } */

    .nav-mobile {
        max-width: 100%;
    }

    .item__link {
        font-size: inherit;
    }
}

@media (max-width: 576px) {
    .header-content__title {
        font-size: 10vw;
    }

    .footer__right {
        display: none;
    }

    .header {
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
    }

    .footer {
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
    }
}

@media (min-width: 576px) {
    .product__title {
        font-size: 2.7rem;
    }

    .product__abstract-informations {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {}

@media (max-width: 991px) {
    .container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .footer__right {
        justify-content: center;
        margin-bottom: 3rem;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .menu {
        display: flex;
    }

    .header__links {
        display: block;
    }

    .nav-mobile {
        display: none;
    }

    .nav__button {
        display: none;
    }

    .header-content {
        margin-top: 2.5rem;
    }

    .footer__scroll {
        display: flex;
    }

    .footer__wrapper {
        display: flex;
    }
}

@media (min-width: 1200px) {

    .product-right,
    .product-left {
        width: 50%;
    }

    .product-right {
        padding-left: 5rem;
    }

    .product-left {
        padding: 3rem 0 3rem 3rem;
    }

    .product__attrebute {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .product__guarantee {
        flex-wrap: nowrap;
        justify-content: baseline;
    }
}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}

@media (min-width: 1900px) {}